* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar { display: none; }

html, body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
    height: 100%;
}

.container-fluid {
	width: 100%;
    min-height: 100%;
    padding: 0px;
}

.main_container {
    overflow: auto;
    padding-bottom: 50px;
    background: #d9dad8;   /*#8d8e8a;*/  /*#d5d8dd;*/
    padding-left: 15px;
}

.banner {
	width: 100%;
	height: 100%;
    color: #fff;
}

#top_header {
	background: #888;
	background-image: url('../images/bkgnd_Man_of_Steel.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 200px;
    min-width: 600px;
}

#about_header {
	background: #888;
	background-image: url('../images/los_angeles_dusk_1364x553.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 200px;
    min-width: 600px;
}

#extras_header {
    background: #888;
	background-image: url('../images/Hero_movie_bkgnd_1080p.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 200px;
    min-width: 600px;
}

#projects_header {
    background: #888;
	background-image: url('../images/bkgnd_forest_shadowhunters.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 200px;
    min-width: 600px;
}

#logo {
    float: left;
    padding-left: 12px;
    font-family: roboto;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: bold;
}

#logo a {
    color: 404040; /*black */
}

#logo a:hover {
    color: #665b5e;
}
#main_nav {
    margin: 0px 10px 10px 20px;
    font-weight: bold;
}

.navbar ul li {
	display: inline-block;
	list-style-type: none;
	padding: 5px 20px;
}

.navbar ul li:hover {
	background: black;
	transition: .5s;
	border-radius: 15px;
}

a {
	color: #4f4a4a
	padding: 5px 40px;
	text-decoration: none;
}

a:hover {
    color: #665b5e;
    text-decoration: none;
}

#github_icon {
    margin-left: 0px;
}

#github_icon:hover {
    color: #9900ff;
    background: none;
    border: none;
}

#github:hover {
    color: #9900ff;
    transition: color 0.8s;
    transform: scale(130%);
}

.main_title {
    text-align: center;
    padding-top: 30px;
    height: 60%;
    font-size: 2.5em;
}

#subtitle_text {
    text-align: center;
    padding-top: 15px;
    font-size: 1.1em;
}

section {
    margin: 10px auto 50px auto;
}

#welcome_msg {
    margin: 10px 20%;
    text-align: center;
}

#about_me div img {
    margin: 50px 0px 30px;
}

#recent_posts_title {
    padding-left: 45px;
    font-size: 1.25em;
}

article {
     margin: 0px 5px 0px 5px;
     padding: 8px 0px 8px 0px;
 }

.post_btn {
    padding: 5px 0px;
    text-align: left;
}

.post_btn:hover {
     transform: scale(1.02);
     box-shadow: 0px 0px 76px 0px rgba(0, 0, 0, 0.47);
     background: #ccc;
 }

.post_img {
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 10px;
}

.post_img:hover {
    border: 1px solid #888;
}

.post_title {
    font-weight: bold;
}

.post_desc {
    padding-left: 30px;
}

.read_more_btn a {
    padding: 2px;
    color: #404f5c;
    transition: 0.4s;
}

.read_more_btn a:hover {
    color: #00cc00;
    text-decoration: none;
}

footer {
    width: 100%;
    padding-top: 15px;
    position: relative;
    height: 50px;
    margin-top: -50px;
    background: #888;
    text-align: center;
    color: #333;
    font-size: 12px;
    clear: both;
}

/* Projects Page */
#proj_page_msg {
    text-align: center;
    margin: 15px;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: #292d32;*/
}

.blur img {
    transition: all .7s ease;
}

.blur img:hover {
    filter: blur(2px);
}

.card {
    font-size: 0.8em;
}

.card:hover {
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
}

.card-body {
    position: relative;
}

.card-text {
    margin-bottom: 48px;
}

.card-body a {
    position: absolute;
    bottom: 5px;
}

.card-footer {
    font-size: 0.8em;
}

.read_more_btn:hover {
    color: #00cc00;
}


/* Extras Page */



/********** MEDIA QUERIES **********/

/* Small devices (smaller phones, 360px and up) */
@media screen and (min-width: 360px) {
	.col-lg-2 {
		flex: 0 0 100%;
		max-width: 100%;
	}
	
	.navbar {
		font-size: 14px;
	}
	
	.navbar ul li {
		padding: 5px 0px;
	}
	
	#top_header, #about_header, #projects_header, #extras_header {
		min-width: 375px;
	}

	#logo {
		padding-left: 5px;
		font-size: 1.0em;
	}
	
	#main_nav {
		margin-left: 3px;
	}
	
	.main_title {
		font-size: 1.8em;
	}
	
	/*#left-of-gh-icon {
		padding-right: 10px;
	}*/
}


/* Smaller devices (small phones, 425px and up) */
@media screen and (min-width: 425px) {
	.col-lg-2 {
		flex: 0 0 100%;
		max-width: 100%;
	}
	
	.navbar {
		font-size: 16px;
	}
	
	.navbar ul li {
		padding: 5px 10px;
	}
	
	#top_header, #about_header, #projects_header, #extras_header {
		min-width: 450px;
	}

	.main_title {
		font-size: 2.0em;
	}

	/*#left-of-gh-icon {
		padding-right: 20px;
	}*/
}


/* Small/Medium devices (landscape phones/Tablets, 570px and up) */
@media screen and (min-width: 570px) {
	.col-lg-2 {
		flex: 0 0 50%;
		max-width: 50%;
	}
	
	.navbar ul li {
		padding: 5px 20px;
	}
	
	#top_header, #about_header, #projects_header, #extras_header {
		min-width: 450px;
	}
	
	#logo {
		padding-left: 10px;
	}
	
	.main_title {
		font-size: 2.5em;
	}
}


/* Large devices (desktops, 950px and up) */
@media screen and (min-width: 950px) {
	.col-lg-2 {
		flex: 0 0 33%;
		max-width: 33%;
	}
}


/* Extra large devices (large desktops, 1400px and up) */
@media screen and (min-width: 1400px) {
	.col-lg-2 {
		flex: 0 0 20%;
		max-width: 20%;
	}
}































